<h1>Here are all the stocks on your watchlist</h1>

<% @watchlists.each do |watchlist| %>
    <ul>
        <li>
            <%= watchlist.name %> -
        </li>
        <li>
            <%= watchlist.description %><br>
        </li>
        <li>
        </ul>
<%end%>

        