<h1>These are all the stocks and quantities added by you </h2>


<% @watchlists.each do |watchlist| %>

    <ul>
        <% watchlist.amounts.each do |amount| %>
    </ul>
    <li>
        <%= amount.stock_name%>: <%= amount.quantity %> added by <%=watchlist.user.email %>
    </li>

    <% end %>

        <% end %>
