<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Current Price</th>
            <% if @user.id == current_user.id %>
                <th>Actions</th>
                <% end %>
        </tr>
    </thead>
    <tbody>
        <% @position.each do |position| %>
            <tr>
                <td>
                    <%= position.name %>
                </td>
                <td>
                    <%= position.ticker %>
                </td>
                <td>
                    <%= position.price %>
                </td>

                <% if @user.id == current_user.id %>
                    <td>
                        <%= link_to 'Delete', position_path(@position), :method => :delete %>
                    </td>
                    <% end %>
            </tr>
            <% end %>
    </tbody>