<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Current Price</th>
            <% if current_user.id == @user.positions.user_id %>
                <th>Actions</th>
                <% end %>

        </tr>
    </thead>
    <tbody>
        <% @positions.each do |position| %>
            <tr>
                <td>
                    <%= position.stock.name %>
                </td>
                <td>
                    <%= position.stock.ticker %>
                </td>
                <td>
                    <%= position.stock.price %>
                </td>

                <% if current_user.id == @position.user_id%>
                    <td>
                        <%= link_to 'Delete', user_position_path(@user, position), :method => :delete %>
                    </td>
                    <% end %>
            </tr>
            <% end %>
    </tbody>